[mysqld]
default-authentication-plugin=mysql_native_password
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
skip-host-cache
skip-name-resolve
character-set-server=utf8
collation-server=utf8_general_ci
sql_mode=''
key_buffer_size	= 16M
max_allowed_packet=128M
thread_stack = 192K
thread_cache_size = 8
#log_error = /var/log/mysql_error.log

[mysqldump]
quick
quote-names
max_allowed_packet=128M

[mysql]
max_allowed_packet=128M
