.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.filters li {
    display: inline;
}

.filters li button {
    color: inherit;
    cursor: pointer;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters li button:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li button.selected {
    border-color: rgba(175, 47, 47, 0.2);
}